body{
    margin: 30px;
    font-family: "raleway", sans-serif;
}

h1 h2 h3 h4{
    font-weight: bolder;
}

/* Header */

nav{
    display: flex;
    justify-content: space-between
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    margin-left: 10px;
}

#linknav1{
    text-decoration: none;
    color: #0065FC;
}

#linknav2{
    text-decoration: none;
    color: black;
}

#linknav3{
    text-decoration: none;
    color: #0065FC;
    font-weight: bolder;
    
}

/* Section Filtres */

/* Formulaire */

#formulaire{
    display: flex;
    justify-content: left;
}

#recherche > h1{
margin-bottom: 0px;
font-size: 1.2em;
font-weight: bold;
}

#recherche > p{
    margin-top: 9px;
    font-size: 1em;
}
    
.fas.fa-map-marker-alt{
    background-color: #F2F2F2;
    border-radius: 1em 0 0 1em;
    margin-right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Recherches_villes{
    color: black;
    font-size: 1em;
    margin-left: 0;
    margin-right: 0;
    border: solid #F2F2F2 1px;
    height: 36px;
    padding-left: 15px;
    width: 190px;
}

button{
    color: white;
    background-color: #0065FC;
    border-radius: 0 1em 1em 0;
    border-style: none;
    margin-left: 0;
    height: 40px;
    width: 110px;
}

/* Filtres */

#filtres{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.filtres{
    display: flex;
}

.icones{
    display: flex;
    flex-direction: row;
}

.icones > .fas{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones > p {
    color: black;
    font-weight: bolder;
    border-radius: 0 1px 1px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Section Centre de Page */

.fas.fa-star{
    color: #0065FC;
}

.fas.fa-star.color-gris{
    color: grey;
}

/* Hébergements à Marseille */

/* Section centre de page */

#centredepage{
    display: flex;
    flex-direction: row;
}

/* Conteneur 1 */

#conteneur1{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    max-width: 66%; 
    padding: 20px 20px 20px 20px;
}

#flexbox1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#flexbox1 > article{
    background-color: white;
    width: 220px;
    height: auto;
    padding: 5px;
    margin-bottom: 40px;
    border-radius: 1em;
    max-width: 33,3%;
}

#flexbox1 > article img{ 
    width: 220px;
    height: 100px;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.nom_hotel{
    font-size: 1em;
    font-weight: bolder;
    margin-top: 2px;
    margin-left: 8px;
    margin-bottom: 2px;
}

.clickable {
    color: black;
    text-decoration: none;
}

/* Conteneur 2 */

#conteneur2{
    background-color: #F2F2F2;
    border-radius: 1em;
    padding: 20px 20px 20px 20px;
    margin-left: 30px;
    width: 310px;
}

.clickable2{
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

#flexbox2{
    display: flex;
    flex-direction: column;
}

#flexbox2 > article{
    background-color: white;
    width: 290px;
    height: 100px;
    padding: 5px;
    margin-bottom: 40px;
    border-radius: 1em;
    max-width: 33,3%;
}

#flexbox2 > article img{  
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 1em 0 0 1em;
}

.populaires{
    display: flex;
    flex-direction: column;
}

.populaires > h4{
    font-size: 1em;
    font-weight: bolder;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
}

.populaires > p{
    margin-top: 1px;
    margin-left: 5px;
    margin-bottom: 25px;
    font-size: 00.8em;
}

.nom_hotel2{
    font-size: 1em;
    font-weight: bolder;
}

#conteneurbottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* Footer */

footer{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2; 
}

/* A decaler à gauche */
footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-inline-start: 0px; 
    width: 100%;
    }

footer ul li{
    width: 33.3%;
}
