html{
    width: auto;
}


main{
    margin: 30px;
    font-family: "raleway", sans-serif;
}

h1 h2 h3 h4{
    font-weight: bolder;
}

/* Header */

nav{
    display: flex;
    justify-content: space-between
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    margin-left: 50px;
}

nav li a{
    color: black;
    text-decoration: none;
}

.bluetext{
    color: #0065FC;
}

.boldtext{
    font-weight: bold;
}

/* Section Filtres */

    /* Formulaire */

#formulaire{
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
}

#recherche > h1{
    margin-bottom: 0px;
    font-size: 1.2em;
    font-weight: bold;
}

#recherche > p{
    margin-top: 9px;
    font-size: 1em;
}
    
.fas.fa-map-marker-alt{
    background-color: #F2F2F2;
    border-radius: 1em 0 0 1em;
    margin-right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Recherches_villes{
    color: black;
    font-size: 1em;
    margin-left: 0;
    margin-right: 0;
    border: solid #F2F2F2 1px;
    height: 36px;
    padding-left: 15px;
    width: 190px;
}

button{
    color: white;
    background-color: #0065FC;
    border-radius: 0 1em 1em 0;
    border-style: none;
    margin-left: 0;
    height: 40px;
    width: 110px;
}

    /* Filtres */

#box_filtres{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
}

.filtres{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 20px;
    cursor: pointer;
}

.icones {
    display: flex;
    flex-direction: row;
    border: solid #F2F2F2 2px;
    width: auto;
    height: 30px;
    border-left: none;
    border-radius: 1em 1em 1em 1em;
}

.icones > .fas{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones > p {
    color: black;
    font-weight: bolder;
    border-radius: 0 1px 1px 0;
    border-color: solid #F2F2F2 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.fas.fa-money-bill-wave{
    font-size: 800;
}

#icone_information{
    font-size: 18px;
    background-color: #0065FC;
    color: white;
    margin-right: 10px;
    border: 2px #F2F2F2 solid;
    border-radius: 50%;
}

#information{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


/* Hébergements à Marseille */

    /* Section centre de page */

#centredepage{
    display: flex;
    flex-direction: row;
}

.fas.fa-star{
    color: #0065FC;
}

.fas.fa-star.color-gris{
    color: grey;
}

    /* Conteneur 1 */

#conteneur1{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    max-width: 66%; 
    padding: 20px 20px 20px 20px;
}

#flexbox1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#flexbox1 > article{
    background-color: white;
    width: 220px;
    height: auto;
    padding: 5px;
    margin-bottom: 40px;
    border-radius: 1em;
    max-width: 33,3%;
    box-shadow: 1px 1px 12px rgb(197, 197, 197);
}

#flexbox1 > article img{ 
    width: 220px;
    height: 100px;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.nom_hotel{
    font-size: 1em;
    font-weight: bolder;
    margin-top: 2px;
    margin-left: 8px;
    margin-bottom: 2px;
}

.clickable {
    color: black;
    text-decoration: none;
}

    /* Conteneur 2 */

#conteneur2{
    background-color: #F2F2F2;
    border-radius: 1em;
    padding: 20px 20px 20px 20px;
    margin-left: 30px;
    width: 310px;
}

#flexbox2{
    display: flex;
    flex-direction: column;
}

.clickable2{
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

#flexbox2 > article{
    background-color: white;
    width: 290px;
    height: 100px;
    padding: 5px;
    margin-bottom: 40px;
    border-radius: 1em;
    max-width: 33,3%;
    box-shadow: 1px 1px 12px rgb(197, 197, 197);
}

#flexbox2 > article img{  
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 1em 0 0 1em;
}

.populaires{
    display: flex;
    flex-direction: column;
}

.populaires > h4{
    font-size: 1em;
    font-weight: bolder;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
}

.populaires > p{
    margin-top: 1px;
    margin-left: 5px;
    margin-bottom: 25px;
    font-size: 00.8em;
}

.nom_hotel2{
    font-size: 1em;
    font-weight: bolder;
}

#conteneurbottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Activités à Marseille */

#activites{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

/* Une seule carte */

.column{
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

.blockcolumn > a{
    display: flex  ;    
    flex-direction: column;
    box-shadow: 1px 1px 12px rgb(197, 197, 197);
    border-radius: 1em;
}

.blockcolumn > a img{
    width: 250px;
    height: 310px;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

/* Deux cartes */

.row{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    max-width: 25%;
}

.blockrow > a{
    display: flex  ;    
    flex-direction: column;
    border-radius: 1em;
    color: black;
    text-decoration: none;
    box-shadow: 4px 4px 6px #F2F2F2;
    margin-bottom: 40px;
    box-shadow: 1px 1px 12px rgb(197, 197, 197);
}

.blockrow > .clickable3 img{
    width: 250px;
    height: 90px;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.blockrow > .clickable4 img{
    width: 250px;
    height: 120px;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

h5{
    margin : 20px 0 20px 10px;
    font-size: 1em;
}
/* Footer */

footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "raleway", sans-serif;
    background-color: #F2F2F2;
    width: 100%;
}

.column_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 33.3%;
    padding-left: 20px;
}

footer ul{
    list-style: none; 
    margin-top: 0px;
    padding-left: 0px;
    }

ul > li{
    margin-bottom: 10px;
}

